.about-first{
    padding: 200px 0 190px;
    position: relative;
    overflow: hidden;
    @media (max-width:992px){
        padding: 80px 0 340px 0;
        border-radius: 0px 0px 24px 24px;
    }
    .images-wrap{
        position: absolute;
        z-index: 2;
        right:30px;
        bottom:0;
        height: 100%;
        display: flex;
        align-items: flex-end;
        @media (max-width:1375px){
            top:unset;
            bottom: 0;
            height: 90%;
            width: 50%;
            display: flex;
            align-items: flex-end;
        }
        @media (max-width:992px){
            display: none;
            display: flex;
            align-items: flex-end;
            position: absolute;
            left: 16px;
            bottom: 0;
            height: 400px;
            width: calc(100% - 32px);
            overflow: hidden;
            border-radius: 0 0 24px 24px;
        }
        @media (max-width:1400px) and (min-width:1000px){
            width: 600px;
        }
        @media (max-width:992px) and (min-width:767px){
            height: auto;
            width: 50%;
            overflow: unset;
            left: 50%;
            transform: translateX(-50%);
        }
        div{
            
            position: absolute;
            z-index: 1;
            img{
                height: auto;
            }
            &:first-child{
                position: relative;
                z-index: 2;
                bottom: 0;
                right: 0;
                display: flex;
            }
            &:nth-child(2){
                bottom: 28%;
                left: 0;
                display: flex;
                justify-content: center;
                z-index: 2;
                width: 100%;
                padding-left: 10px;
                @media (max-width:992px){
                    bottom: 22%;
                    img{
                        max-width: 80%;
                    }
                }
                @media (max-width:1400px) and (min-width:1000px){
                    bottom: 22%;
                    img{
                        max-width: 80%;
                    }
                }
                @media (max-width:992px) and (min-width:767px){
                    bottom: 45%;
                }
            }
        }
    }
    .images-wrap-mob{
        display: none;
        z-index: 2;
        overflow: hidden;
        @media (max-width:992px){
            
            //display: flex;
            align-items: flex-end;
            position: absolute;
            left: 16px;
            bottom: 0;
            height: 400px;
            width: calc(100% - 32px);
        }
        >div{
            width: 100%;
            img{
                height: auto;
                width: 100%;
            }
            &:first-child{
                display: flex;
                position: relative;
                z-index: 2;
                bottom: -5px;
            }
            &:last-child{
                top:10%;
                position: absolute;
                z-index: 1;
            }
        }
    }
    &:before{
        content: '';
        display: block;
        width: 40%;
        height:740px;
        position: absolute;
        z-index: 0;
        top:0;
        right: 30px;
        border-radius: 0px 0px 24px 0px;
        background: var(--5, linear-gradient(137deg, #333CEF 2.76%, #0B98FF 32.42%, #9CE500 62.07%, #ACD64E 91.73%));
        @media (max-width:992px){
            right: 16px;
            left: 16px;
            top:unset;
            bottom: 0;
            height: 400px;
            width: calc(100% - 32px);
            border-radius: 0px 0 24px 24px;
            background: var(--5, linear-gradient(137deg, #333CEF 2.76%, #0B98FF 32.42%, #9CE500 62.07%, #ACD64E 91.73%));
        }
    }
    &:after{
        content: '';
        display: block;
        width: 40%;
        height:740px;
        position: absolute;
        z-index: 1;
        top:0;
        right: 30px;
        border-radius: 0px 0px 24px 0px;
        background: linear-gradient(270deg, rgba(15, 15, 15, 0.00) 0%, #0F0F0F 100%);
        @media (max-width:992px){
            right: 16px;
            left: 16px;
            top:unset;
            bottom: 0;
            height: 400px;
            width: calc(100% - 32px);
            border-radius: 0px 0 24px 24px;
            background: linear-gradient(to top, rgba(15, 15, 15, 0.00) 0%, #0F0F0F 100%);
        }
    }
    &__body{
        position: relative;
        z-index: 2;
    }
    h1{
        color: var(--1, #F0F0F7);
        font-size: 76px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin: 0 0 50px 0;
        @media (max-width:992px){
            text-align: center;
            font-size: 36px;
            margin: 0 0 25px 0;
        }
        @media (min-width:1600px){
            font-size: 88px;
        }
        @media (max-width:1400px) and (min-width:1000px){
            font-size: 64px;
            margin: 0 0 25px 0;
        }
    }
    p{
        color: var(--4, #97D80F);
        margin: 0;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 76.8px */
        @media (max-width:992px){
            text-align: center;
            font-size: 24px;
            br{
                display: none;
            }
        }
    }
    a{
        @media (max-width:992px){
            margin: 0 auto;
        }
    }
}

.about-second{
    margin: 150px 0;
    @media (max-width:992px){
        margin: 100px 0;
    }
    &__body{
        display: flex;
        gap:116px;
        align-items: center;
        @media (max-width:992px){
            flex-direction: column;
        }
        img{
            @media (max-width:992px){
                display: none;
            }
        }
        >div{
            width: calc(50% - 100px);
            @media (max-width:992px){
                width: 100%;
                &:first-child{
                    display: none;
                }
            }
            h2{
                color: #F0F0F7;
                margin: 0 0 36px 0;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                @media (max-width:992px){
                    font-size: 36px;
                    text-align: center;
                    margin: 0 0 20px 0;
                }
            }
            p{
                color: #F0F0F7;
                margin: 0;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; 
                @media (max-width:992px){
                    text-align: center;
                }
            }
        }
    }
}

.about-fourth{
    margin: 150px 0 0 0;
    overflow: hidden;
    @media (max-width:992px){
        margin: 150px 0 0 0;
        ._container{
            padding: 0;
        }
    }
    &__body{
        border-radius: 0px 24px 24px 24px;
        padding: 100px 85px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(117deg, #333CEF 8.25%, #0B98FF 37.98%, #9CE500 67.71%, #ACD64E 97.44%);
        @media (max-width:1375px){
            padding: 100px 60px;
        }
        @media (max-width:992px){
            border-radius: 0;
            padding: 100px 16px 290px 16px;
        }
        &:before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
            background: linear-gradient(279deg, rgba(15, 15, 15, 0.00) -7.27%, #0F0F0F 97.2%);
        }
        >div{
            position: relative;
            z-index: 2;
        }
        .image-wrap{
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            width: 40%;
            max-height: 90%;
            @media (max-width:1375px){
                width: 50%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            @media (max-width:992px){
                width: 100%;
                justify-content: flex-end;
                img{
                    width: auto;
                    height: auto;
                    max-height: 350px;
                    width: 100%;
                    margin-bottom: -70px;
                }
            }
            @media (max-width:1400px) and (min-width:1000px){
                width: 38%;
            }
            @media (max-width:992px) and (min-width:767px){
                height: auto;
                width: 50%;
                overflow: unset;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    h2{
        color: #F0F0F7;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        position: relative;
        z-index: 2;
        margin: 0 0 36px 0;
        @media (max-width:992px){
            margin: 0 0 30px 0;
            font-size: 32px;
            br{
                display: none;
            }
        }
        
    }
    p{
        color: #F0F0F7;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 
        margin: 0 0 20px 0;
        position: relative;
        z-index: 2;
        @media (max-width:992px){
            margin: 0 0 20px 0;
            br{
                display: none;
            }
        }
        
    }
    ul{
        margin: 0;
        padding: 0 0 0 16px;
        display: flex;
        flex-direction: column;
        gap:10px;
        li{
            margin: 0;
            padding: 0;
            color: #F0F0F7;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
    a{
        position: relative;
        z-index: 2;
        @media (max-width:992px){
            margin: 0 auto;
        }
    }
}


.about-last {
    padding: 300px 0;
    position: relative;
    @media (max-width: 992px) {
      padding: 100px 0;
    }
    &:before {
      content: "";
      display: block;
      height: 100%;
      border-radius: 0px 0px 24px 24px;
      position: absolute;
      left: 32px;
      right: 32px;
      background-position: top center;
      background-size: cover;
      background-image: url(/images/about/last.png);
      z-index: 0;
      top: 0;
      @media (max-width: 1400px) {
        left: 0;
        right: 0;
        border-radius: 0;
      }
      @media (max-width: 992px) {
        background: linear-gradient(
        -135deg,
        #333cef 39.78%,
        #0b98ff 61.74%,
        #9ce500 83.7%,
        #acd64e 105.66%
      );
        left: 0;
        right: 0;
        border-radius: 0;
      }
    }
    &:after {
      top: 0;
      content: "";
      display: block;
      height: 100%;
      border-radius: 0px 0px 24px 24px;
      position: absolute;
      left: 32px;
      right: 32px;
      border-radius: 0px 0px 24px 0px;
      
      z-index: 1;
      @media (max-width: 1400px) {
        left: 0;
        right: 0;
        border-radius: 0;
      }
      @media (max-width: 992px) {
        background: linear-gradient(to top, rgba(15, 15, 15, 0.5) 0%, #0f0f0f 100%);
        left: 0;
        right: 0;
        border-radius: 0;
      }
    }
    ._container {
      position: relative;
      z-index: 2;
    }
    h2 {
      color: #f0f0f7;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      margin: 0 0 40px 0;
      @media (max-width: 992px) {
        font-size: 36px;
        margin: 0 0 32px 0;
        br {
          display: none;
        }
      }
    }
    h3 {
      color: #f0f0f7;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin: 0 0 64px 0;
      @media (max-width: 992px) {
        margin: 0 0 48px 0;
        br {
          display: none;
        }
      }
    }
    &__body {
      display: flex;
      gap: 16px;
      margin: 64px 0;
      @media (max-width: 992px) {
        margin: 40px 0;
        flex-direction: column;
      }
      > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 0px 24px 24px 24px;
        background: var(--6, #2a2a2a);
        padding: 24px;
        transition: all 0.5s;
  
        &:hover {
          border-radius: 0px 24px 24px 24px;
          background: linear-gradient(
              137deg,
              rgba(51, 60, 239, 0.1) 2.76%,
              rgba(11, 152, 255, 0.1) 32.42%,
              rgba(156, 229, 0, 0.1) 62.07%,
              rgba(172, 214, 78, 0.1) 91.73%
            ),
            #2a2a2a;
        }
        @media (max-width: 992px) {
          flex-direction: row;
          align-items: center;
          width: 100%;
          justify-content: center;
        }
        span {
          color: var(--1, #f0f0f7);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }
      }
    }
    a {
      margin: 0 auto;
    }
  }

  .about-third{
    padding: 150px 0;
    position: relative;
    @media (max-width:992px){
        padding: 0 0 100px 0;
    }
    &:before{
        content: '';
        display: block;
        height: 100%;
        border-radius: 0px 0px 24px 24px;
        position: absolute;
        left: 32px;
        right: 32px;
        background: linear-gradient(-135deg, #333CEF 39.78%, #0B98FF 61.74%, #9CE500 83.7%, #ACD64E 105.66%);
        z-index: 0;
        top: 0;
        @media (max-width:1400px){
            left: 0;
            right: 0;
            border-radius: 0;
        }
        @media (max-width:992px){
            left: 0;
            right: 0;
            border-radius: 0;
        }
    }
    &:after{
        top: 0;
        content: '';
        display: block;
        height: 100%;
        border-radius: 0px 0px 24px 24px;
        position: absolute;
        left: 32px;
        right: 32px;
        border-radius: 0px 0px 24px 0px;
        background: linear-gradient(to top, rgba(15, 15, 15, 0.5) 0%, #0F0F0F 100%);
        z-index: 1;
        @media (max-width:1400px){
            left: 0;
            right: 0;
            border-radius: 0;
        }
        @media (max-width:992px){
            left: 0;
            right: 0;
            border-radius: 0;
        }
    }
    ._container{
        position: relative;
        z-index: 2;
    }
    h2{
        color: #F0F0F7;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin: 0 0 40px 0;
        @media (max-width:992px){
            font-size: 36px;
            margin: 0 0 32px 0;
            br{
                display: none;
            }
        }
    }
    h3{
        color: #F0F0F7;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 64px 0;
        @media (max-width:992px){
            margin: 0 0 48px 0;
            br{
                display: none;
            }
        }
    }
    h4{
        color: var(--4, #97D80F);
        margin: 0 0 36px 0;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        @media (max-width:992px){
            font-size: 24px;
        }
    }
    .about-row{
        display: flex;
        gap:32px;
        margin-bottom: 64px;
        @media (max-width:992px){
            flex-direction: column;
            gap:24px;
        }
        >div{
            width: calc(33.33% - 20px);
            border-radius: 0px 24px 24px 24px;
            background: var(--1, #F0F0F7);
            padding: 32px;
            @media (max-width:992px){
                width: 100%;
                padding: 24px;
                display: flex;
                flex-direction: column;
            }
            h4{
                margin: 0 0 24px 0;
                color: var(--4, #97D80F);
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; 
                text-align: left;
            }
            p{
                color: var(--2, #0F0F0F);
                margin: 0;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1; /* 22.4px */
            }
        }
    }
    a, button{
        margin: 0 auto;
    }
}