.home-stats {
  margin: 180px 0;

  @media (max-width: 992px) {
    margin: 80px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 24px;
    row-gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      row-gap: 24px;
    }
  }

  &__card {
    margin: 0;
    padding: 32px;
    border-radius: 0 24px 24px 24px;
    background: var(--1, #f0f0f7);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    min-height: 100%;
  }

  h3 {
    margin: 0;
    color: var(--4, #97d80f);
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.04em;

    @media (max-width: 992px) {
      font-size: 48px;
    }

    @media (max-width: 640px) {
      font-size: 40px;
    }
  }

  p {
    margin: 0;
    max-width: 256px;
    color: var(--2, #0f0f0f);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
