.pricing-hero {
  position: relative;
  padding-top: 200px;
  min-height: 100vh;
  margin-bottom: 150px;
  @media (max-width: 1100px) {
    min-height: auto;
  }
  @media (max-width: 992px) {
    padding-top: 70px;
    min-height: auto;
    margin-bottom: 100px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 50%;
    left: 30px;
    bottom: 0;
    width: calc(100% - 60px);
    background: var(
      --5,
      linear-gradient(
        137deg,
        #333cef 2.76%,
        #0b98ff 32.42%,
        #9ce500 62.07%,
        #acd64e 91.73%
      )
    );
    z-index: 0;
    border-radius: 0 0 24px 24px;
    @media (max-width: 992px) {
      left: 0;
      width: 100%;
      border-radius: 0;
    }
    @media (max-width: 1400px) and (min-width: 1000px) {
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    bottom: 0;
    height: 50%;
    width: calc(100% - 60px);
    background: linear-gradient(0deg, rgba(15, 15, 15, 0) 0%, #0f0f0f 100%);
    z-index: 1;
    border-radius: 0 0 24px 24px;
    @media (max-width: 992px) {
      border-radius: 0;
      left: 0;
      width: 100%;
    }
    @media (max-width: 1400px) and (min-width: 1000px) {
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }
  ._container {
    position: relative;
    z-index: 2;
  }
  h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    color: #f0f0f7;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      font-size: 36px;
      margin-bottom: 16px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #f0f0f7;
    margin: 0 0 60px 0;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin: 0 0 40px 0;
    }
  }
  .images-wrap {
    position: relative;
    width: 766px;
    max-width: 100%;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      &:first-child {
        position: relative;
        z-index: 2;
        img {
          max-width: 95%;
          margin: 0 auto;
        }
      }
      &:last-child {
        position: relative;
        z-index: 1;
        margin-top: -310px;
        @media (max-width: 992px) {
          margin-top: -150px;
        }
      }
      img {
        height: auto;
      }
    }
  }
}

.pricing-last {
  margin: 150px 0 0 0;
  @media (max-width: 992px) {
    margin: 80px 0 0 0;
    ._container {
      padding: 0;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 135px 16px;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
    background-image: url(/images/single-service/service-last.webp);
    background-position: top center;
    background-size: cover;
    @media (max-width: 992px) {
      padding: 100px 16px 125px 16px;
    }
    h2 {
      color: #f0f0f7;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      margin: 0 0 60px 0;
      @media (max-width: 992px) {
        margin: 0 0 24px 0;
        font-size: 32px;
        br {
          display: none;
        }
      }
    }
  }
}

.pricing-solutions {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  h2 {
    color: #f0f0f7;
    text-align: center;
    margin: 0 0 36px 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    @media (max-width: 992px) {
      font-size: 36px;
    }
  }
  p {
    color: #f0f0f7;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 40px 0;
    @media (max-width: 992px) {
      font-size: 16px;
      br {
        display: none;
      }
    }
  }
  &__body {
    border-radius: 0px 16px 16px 16px;
    background: rgb(42 42 42 / 50%);
    padding: 0 16px 16px 16px;
    display: flex;
    gap: 8px;
    @media (max-width: 992px) {
      gap: 64px;
      flex-direction: column;
    }
    .column {
      width: calc(20% - 6px);
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: 992px) {
        width: 100%;
        &:first-child {
          display: none;
        }
      }
      .col-header {
        border-radius: 0px 24px 24px 24px;
        background: #f0f0f7;
        padding: 24px;
        height: 108px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        &.invisible {
          opacity: 0;
        }
        h3 {
          color: var(--2, #0f0f0f);
          margin: 0;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 1; /* 38.4px */
        }
        h4 {
          color: var(--2, #0f0f0f);
          margin: 0;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
          span {
            color: #333cef;
            font-weight: 700;
          }
        }
      }
      .module-title {
        color: #f0f0f7;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        width: 100%;
        border-radius: 0px 16px 16px 16px;
        background: linear-gradient(
            0deg,
            rgba(172, 214, 78, 0.1) 0%,
            rgba(172, 214, 78, 0.1) 100%
          ),
          #2a2a2a;
        padding: 0 20px;
        display: flex;
        align-items: center;
        height: 64px;
        &.check {
          justify-content: center;
          @media (max-width: 992px) {
            display: flex;
            gap: 16px;
            justify-content: flex-start;
            height: auto;
            padding: 20px 24px;
          }
          span {
            display: none;
            @media (max-width: 992px) {
              display: block;
            }
          }
        }
        &.custom {
          flex-grow: 1;
          padding-top: 40px;
          align-items: flex-start;
          font-weight: 400;
          @media (max-width: 992px) {
            height: auto;
            padding: 40px 24px;
          }
        }
      }
      .main-button {
        border-radius: 0px 16px 16px 16px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        text-align: center;
        padding: 0 24px;
        span {
          text-align: center;
          justify-content: center;
        }
        @media (max-width: 992px) {
          justify-content: center;
          align-items: center;
          text-align: center;

          span {
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
