.pricing-hero {
    position: relative;
    padding-top: 200px;
    min-height: 100vh;
    margin-bottom: 150px;
    @media (max-width: 992px) {
      padding-top: 70px;
      min-height: auto;
      margin-bottom: 100px;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 50%;
      left: 30px;
      bottom: 0;
      width: calc(100% - 60px);
      background: var(
        --5,
        linear-gradient(
          137deg,
          #333cef 2.76%,
          #0b98ff 32.42%,
          #9ce500 62.07%,
          #acd64e 91.73%
        )
      );
      z-index: 0;
      border-radius: 0 0 24px 24px;
      @media (max-width: 992px) {
        left: 0;
        width: 100%;
        border-radius: 0;
      }
      @media (max-width: 1400px) and (min-width: 1000px) {
        left: 0;
        width: 100%;
        border-radius: 0;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 30px;
      bottom: 0;
      height: 50%;
      width: calc(100% - 60px);
      background: linear-gradient(0deg, rgba(15, 15, 15, 0) 0%, #0f0f0f 100%);
      z-index: 1;
      border-radius: 0 0 24px 24px;
      @media (max-width: 992px) {
        border-radius: 0;
        left: 0;
        width: 100%;
      }
      @media (max-width: 1400px) and (min-width: 1000px) {
        left: 0;
        width: 100%;
        border-radius: 0;
      }
    }
    ._container {
      position: relative;
      z-index: 2;
    }
    h1 {
      font-size: 88px;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 20px 0;
      color: #f0f0f7;
      position: relative;
      z-index: 2;
      @media (max-width: 992px) {
        font-size: 36px;
        margin-bottom: 16px;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      color: #f0f0f7;
      margin: 0 0 60px 0;
      position: relative;
      z-index: 2;
      @media (max-width: 992px) {
        margin: 0 0 40px 0;
      }
    }
    .images-wrap {
      position: relative;
      width: 766px;
      max-width: 100%;
      margin: 70px auto 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        display: flex;
        &:first-child {
          position: relative;
          z-index: 2;
          img {
            max-width: 95%;
            margin: 0 auto;
          }
        }
        &:last-child {
          position: relative;
          z-index: 1;
          margin-top: -310px;
          @media (max-width: 992px) {
            margin-top: -150px;
          }
        }
        img {
          height: auto;
        }
      }
    }
  }


  .pricing-last{
    margin: 150px 0 0 0;
    @media (max-width:992px){
        margin: 80px 0 0 0;
        ._container{
            padding: 0;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 135px 16px;
        border-radius: 0 0 24px 24px;
        overflow: hidden;
        background-image: url(/images/single-service/service-last.webp);
        background-position: top center;
        background-size: cover;
        @media (max-width:992px){
            padding: 100px 16px 125px 16px;
        }
        h2{
            color: #F0F0F7;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            margin: 0 0 60px 0;
            @media (max-width:992px){
                margin: 0 0 24px 0;
                font-size: 32px;
                br{
                    display: none;
                }
            }
        }
    }
}